.section {
    height: 100vh;
    padding: 4rem;
    color: white;
  }
  
  .section.roadmap {
    background-color: #111;
  }
  
  .section.about {
    background-color: #222;
  }
  
  .section.tokenomics {
    background-color: #333;
  }
  